@import 'modern-normalize/modern-normalize.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root {
  --primary: #65558f;
  --surface: #fef7ff;
  --fg-primary: #1D1B20;
  --fg-secondary: #49454F;
  --fg-button-primary: #ffffff;
  --fg-button-secondary: #4A4459;
}

* {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.MuiPaper-rounded {
  border-radius: 28px;
}
